<%= form_for(@connection) do |f| %>
  <% if @connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@connection.errors.count, "error") %> prohibited this connection from being saved:</h2>

      <ul>
      <% @connection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stationID %><br>
    <%= f.number_field :stationID %>
  </div>
  <div class="field">
    <%= f.label :logoID %><br>
    <%= f.number_field :logoID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
