<p id="notice"><%= notice %></p>

<p>
  <strong>Routeid:</strong>
  <%= @sample.routeId %>
</p>

<p>
  <strong>Prevhbs:</strong>
  <%= @sample.prevHBS %>
</p>

<p>
  <strong>Currenthbs:</strong>
  <%= @sample.currentHBS %>
</p>

<p>
  <strong>Nexthbs:</strong>
  <%= @sample.nextHBS %>
</p>

<p>
  <strong>Hmu1:</strong>
  <%= @sample.hmu1 %>
</p>

<p>
  <strong>Hmu2:</strong>
  <%= @sample.hmu2 %>
</p>

<p>
  <strong>Hmu1 rssi:</strong>
  <%= @sample.hmu1_RSSI %>
</p>

<p>
  <strong>Hmu2 rssi:</strong>
  <%= @sample.hmu2_RSSI %>
</p>

<p>
  <strong>Hmu1 data:</strong>
  <%= @sample.hmu1_DATA %>
</p>

<p>
  <strong>Hmu2 data:</strong>
  <%= @sample.hmu2_DATA %>
</p>

<p>
  <strong>Hmu1 hbs:</strong>
  <%= @sample.hmu1_HBS %>
</p>

<p>
  <strong>Hmu2 hbs:</strong>
  <%= @sample.hmu2_HBS %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
