<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Ip addr:</strong>
  <%= @device.ip_addr %>
</p>

<p>
  <strong>Login:</strong>
  <%= @device.login %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @device.pass %>
</p>

<p>
  <strong>Nextid:</strong>
  <%= @device.nextID %>
</p>

<p>
  <strong>Previd:</strong>
  <%= @device.prevID %>
</p>

<p>
  <strong>Type:</strong>
  <%= @device.deviceTypeID %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
