<h1>Listing markers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Zoom</th>
      <th>Iconid</th>
      <th>Href</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markers.each do |marker| %>
      <tr>
        <td><%= marker.name %></td>
        <td><%= marker.lat %></td>
        <td><%= marker.lon %></td>
        <td><%= marker.zoom %></td>
        <td><%= marker.iconID %></td>
        <td><%= marker.href %></td>
        <td><%= link_to 'Show', marker %></td>
        <td><%= link_to 'Edit', edit_marker_path(marker) %></td>
        <td><%= link_to 'Destroy', marker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marker', new_marker_path %>
