<p id="notice"><%= notice %></p>

<p>
  <strong>Oid:</strong>
  <%= @s_sample.oid %>
</p>

<p>
  <strong>S1:</strong>
  <%= @s_sample.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @s_sample.s2 %>
</p>

<p>
  <strong>S3:</strong>
  <%= @s_sample.s3 %>
</p>

<p>
  <strong>S4:</strong>
  <%= @s_sample.s4 %>
</p>

<p>
  <strong>S5:</strong>
  <%= @s_sample.s5 %>
</p>

<p>
  <strong>S6:</strong>
  <%= @s_sample.s6 %>
</p>

<p>
  <strong>S7:</strong>
  <%= @s_sample.s7 %>
</p>

<p>
  <strong>S8:</strong>
  <%= @s_sample.s8 %>
</p>

<p>
  <strong>S9:</strong>
  <%= @s_sample.s9 %>
</p>

<p>
  <strong>S10:</strong>
  <%= @s_sample.s10 %>
</p>

<p>
  <strong>Rssi1:</strong>
  <%= @s_sample.rssi1 %>
</p>

<p>
  <strong>Rss2:</strong>
  <%= @s_sample.rss2 %>
</p>

<p>
  <strong>Lmrv1:</strong>
  <%= @s_sample.lmrv1 %>
</p>

<p>
  <strong>Lmrv2:</strong>
  <%= @s_sample.lmrv2 %>
</p>

<p>
  <strong>Hmu1s:</strong>
  <%= @s_sample.hmu1s %>
</p>

<p>
  <strong>Hmu2s:</strong>
  <%= @s_sample.hmu2s %>
</p>

<p>
  <strong>Numoflinks:</strong>
  <%= @s_sample.numoflinks %>
</p>

<p>
  <strong>Deviceid:</strong>
  <%= @s_sample.deviceID %>
</p>

<p>
  <strong>Ipaddr:</strong>
  <%= @s_sample.ipaddr %>
</p>

<%= link_to 'Edit', edit_s_sample_path(@s_sample) %> |
<%= link_to 'Back', s_samples_path %>
