<p id="notice"><%= notice %></p>

<p>
  <strong>Oid:</strong>
  <%= @snmp.oid %>
</p>

<p>
  <strong>S1:</strong>
  <%= @snmp.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @snmp.s2 %>
</p>

<p>
  <strong>S3:</strong>
  <%= @snmp.s3 %>
</p>

<p>
  <strong>S4:</strong>
  <%= @snmp.s4 %>
</p>

<p>
  <strong>S5:</strong>
  <%= @snmp.s5 %>
</p>

<p>
  <strong>S6:</strong>
  <%= @snmp.s6 %>
</p>

<p>
  <strong>S7:</strong>
  <%= @snmp.s7 %>
</p>

<p>
  <strong>S8:</strong>
  <%= @snmp.s8 %>
</p>

<p>
  <strong>S9:</strong>
  <%= @snmp.s9 %>
</p>

<p>
  <strong>S10:</strong>
  <%= @snmp.s10 %>
</p>

<p>
  <strong>Rssi1:</strong>
  <%= @snmp.rssi1 %>
</p>

<p>
  <strong>Rss2:</strong>
  <%= @snmp.rss2 %>
</p>

<p>
  <strong>Lmrv1:</strong>
  <%= @snmp.lmrv1 %>
</p>

<p>
  <strong>Lmrv2:</strong>
  <%= @snmp.lmrv2 %>
</p>

<p>
  <strong>Hmu1s:</strong>
  <%= @snmp.hmu1s %>
</p>

<p>
  <strong>Hmu2s:</strong>
  <%= @snmp.hmu2s %>
</p>

<p>
  <strong>Numoflinks:</strong>
  <%= @snmp.numoflinks %>
</p>

<p>
  <strong>Deviceid:</strong>
  <%= @snmp.deviceID %>
</p>

<p>
  <strong>Ipaddr:</strong>
  <%= @snmp.ipaddr %>
</p>

<%= link_to 'Edit', edit_snmp_path(@snmp) %> |
<%= link_to 'Back', snmps_path %>
