<%= form_for(@cam_event) do |f| %>
  <% if @cam_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cam_event.errors.count, "error") %> prohibited this cam_event from being saved:</h2>

      <ul>
      <% @cam_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :eventTime %><br>
    <%= f.text_field :eventTime %>
  </div>
  <div class="field">
    <%= f.label :eventType %><br>
    <%= f.text_field :eventType %>
  </div>
  <div class="field">
    <%= f.label :acknowledged %><br>
    <%= f.check_box :acknowledged %>
  </div>
  <div class="field">
    <%= f.label :acknowledged_at %><br>
    <%= f.datetime_select :acknowledged_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
