<!-- link rel="stylesheet" href="http://mexicometro.org/wp-content/themes/mexicometrov3/style.css" -->
<div id="topmargin" style="display: none;"><img src="/system/icons/icons/000/000/041/original/rad_logo.jpg?1429061899"  height="100" alt="rad logo" border="0"></div>
<script>
 function setTopMargin(){
	if(window.innerWidth == screen.width && window.innerHeight == screen.height) {
		 document.getElementById('topmargin').style.display='block';
		} else {
 		 document.getElementById('topmargin').style.display='none'
	}	
  };

   window.onchange=setTopMargin();
</script>
<style>
	
#station-nav {
	position:absolute;
	top:10px;
	left:6px;
	width:210px;
	background: #ececec; /* Old browsers */
	background: linear-gradient(to bottom, hsla(0,0%,93%,1) 0%,hsla(0,0%,100%,1) 70%); /* W3C */
	border-top-left-radius: 0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

#station-nav li {
	display:block;
	min-height:28px;
	border-bottom:1px solid #E5E5E5;
	padding-left:05px;
	vertical-align:middle;
	position:relative;
	font-size:100%;
	margin-top:-2px
}

.blink {
      animation: blink 1s steps(5, start) infinite;
      -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }
#station-nav a.station-link {
	margin-left:15px;
	text-decoration:none;
	color:rgb(105, 105, 105);
	position:absolute;
	top:50%;
	margin-top:-8px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size:115%;
}

#station-nav a.station-link:hover {
	text-decoration:underline;
}

.attachment-small-station-thumbnail {
	box-shadow: none;
}

.station-thumbnail img {
	box-shadow: none;
	border: none;
	border-radius: 0;
}

a.station-logo-link {
	position:absolute;
	top:50%;
	margin-top:-9px;
	margin-left:-10px
}

a.station-connections {
	position:absolute;
	top:50%;
	margin-top:-9px;
	margin-left:144px
}

a.station-connected1 {
	position:absolute;
	top:50%;
	margin-top:-9px;
	margin-left:164px
}

a.station-connected-1 {
	position:absolute;
	top:50%;
	margin-top:-9px;
	margin-left:116px
}


li #line-name, li #sidebar-first-link  {
	font-size:22px;
	/* height:30px;*/
	padding-left:5px;
	display:block;
	padding-top:8px;
	margin-left:-10px;
	background-color: rgba(9, 150, 43, 0.95);
	/* background-color:#d46618; */
	padding-bottom:8px;
	text-shadow: #000 1px 1px 2px;
	font-weight:700;
	border-top-left-radius: 0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

li #line-name a, li #sidebar-first-link a {
	text-decoration:none;
	color:#fff;
	margin-left:5px;
	margin-top:-15px;
}

.current-station {
	font-weight:bold;
	
	text-decoration:underline;
}

.next-station {
	text-decoration: blink;
	-webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #111;
}

.station-info {
	width:650px;
	margin-left:300px;
	padding-right:50px;
}

.station-info p {
	margin:20px 0px
}

.station-info h1 {
    background-image: url("images/diagonal-bars.png");
    font-size: 26px;
    height: 40px;
    padding-left: 10px;
    width: 590px;
    margin-bottom:35px;
	text-shadow: #BAB5B5 3px 3px 4px;
	font-family: MetroFont;
}

.station-thumbnail {
    background-color: white;
    height: 30px;
    margin-left: 1px;
    position: absolute;
    right: 30px;
    top: 50px;
	 
}
	
	ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 5px;
 }
	
.video {
	position:absolute;
	margin-top:0px;
	margin-left:220px;
}

.rss {
    position:absolute;
	margin-top: 550px;
	margin-left: 5px;
	overflow: hidden;
}

.clock{
    position:absolute;
	margin-top: 550px;
	margin-left: 850px;
	overflow: hidden;
}	
</style>


<div>
<nav id="station-nav">
<ul>
<li><span id="line-name" style=""><a href="http://mexicometro.org/metro/line8/">Línea 8</a></span></li>
	  
	 <% @st.each do |station| %>
       <li>
	<a class="station-logo-link" href="http://mexicometro.org/metro/line8/<%="#{station.name}".html_safe%>/" title="<%="#{station.name}".html_safe%>">
	<img src="<%= Icon.find(station.iconID).icon.url %>" class="attachment-small-station-thumbnail wp-post-image" alt="<%="#{station.name}"%>" width="20" height="20" scale="1.5"></a>
    
	<a id="<%= station.name %>" class="station-link <%='current-station' if @current_station==station.name %> <%='blink next-station' if @next_station==station.name %>" href="/metro/line8/<%= station.name %>/"><%=station.name.html_safe%></a>
    <% if  station.numOfConnections == 1 %>
      <a class="station-connections"><img src="/system/icons/icons/000/000/015/original/arrows_1_.png?1427836130" width="20" height="20" alt="has connection to" border="0" style="height: 20px; width: 20px;"></a>
	  <a class="station-connected1"><img  src="<%= Icon.find(Connection.find_by_stationID(station.id).logoID).icon.url %>" width="20" height="16" alt="Line B" border="0" style="height: 20px; width: 20px;"></a>
	<% end %>
	<% if station.numOfConnections ==2 %>
	  <a class="station-connected-1"><img src="/system/icons/icons/000/000/015/original/arrows_1_.png?1427836130" width="20" height="20" alt="has connection to" border="0" style="height: 20px; width: 20px;"></a>
      <a class="station-connections"><img src="<%= Icon.find(Connection.all.where(:stationID => station.id).first.logoID).icon.url %>"  width="20" height="20" alt="line 2"  border="0" style="height: 20px; width: 20px;"></a>
      <a class="station-connected1"><img src="<%= Icon.find(Connection.all.where(:stationID => station.id).last.logoID).icon.url %>" width="20" height="20" alt="line 9" border="0" style="height: 20px; width: 20px;"></a>

	<% end %>
	
	</li>
  <% end %>	 
	
</ul>
</nav>


        <script>
       // window.gon = {};
       // gon.products=[{"created_at":"2012-02-18T20:24:45Z","id":1,"name":"Settlers of Catan","price":"29.95","updated_at":"2012-02-18T20:24:45Z"},
       //               {"created_at":"2012-02-18T20:24:45Z","id":2,"name":"DVD Player","price":"79.98999999999999","updated_at":"2012-02-18T20:24:45Z"},
       //               {"created_at":"2012-02-18T20:24:45Z","id":3,"name":"Red Shirt","price":"12.49","updated_at":"2012-02-18T20:24:45Z"}
       //               ];
       window.stations = {};
       window.currentStation = null;
       window.nextStation = null;
       window.nextStationId = 0;
       stations = [
         <% index=0 %>
         <% @st.each do |station|  %>
         <% index+=1 %> 
         {<%= "\"id\":\"#{station.name}\",\"name\":\"#{station.name}\" , \"timeout_station\":5000, \"timeout_next\":10000 ".html_safe %>}
         <%= "," unless index==@st.count %>
         <% end %>
       	];
       </script>


   <script>

    function updateStationsClass( currentStation, nextStation) {
       	
       	for ( var i = 0; i < <%= @st.count -1 %> ; i++) {
       	  var newclass = "station-link"	
	        stations[i].id ==currentStation ? newclass = newclass + " current-station" : '';   
	        stations[i].id ==nextStation ? newclass = newclass + " blink next-station" : '';
	        document.getElementById(stations[i].id).className = newclass;
	      //  console.log("setting element by id: "+stations[i].id+" to class: "+newclass);
	       // $().attr("class",newclass);
	        }
    	 }	
    
  function getSearchParameters() {
      var prmstr = window.location.search.substr(1);
      return prmstr != null && prmstr != "" ? transformToAssocArray(prmstr) : {};
    }

  function transformToAssocArray( prmstr ) {
	    var params = {};
	    var prmarr = prmstr.split("&");
	    for ( var i = 0; i < prmarr.length; i++) {
	        var tmparr = prmarr[i].split("=");
	        params[tmparr[0]] = tmparr[1];
	    }
	    return params;
	}

	var params = getSearchParameters();
	if (params["direction"]  != null  ) {
		window.direction = params["direction"];
	} else {
		window.direction = "s2e";
		params[direction] = "s2e";
	};	
	function updateStations() {
	  try {
    

		//TODO: add direction
		if (nextStation == null ){
		  currentStation = params["currentStation"] != null ?  params["currentStation"] : stations[0].id;  
		  nextStation = params["nextStation"] != null ?  params["nextStation"] : stations[1].id;
		  nextStationId = 1;
		   updateStationsClass( currentStation, nextStation);
		} else {
		  if (currentStation == "" ) {
		  	currentStation = stations[nextStationId].id;
		  	setTimeout("updateStations()",stations[nextStationId].timeout_station);
		  	params["currentStation"] = currentStation;
		  	 
		  	if (direction == "s2e") { 
		  		nextStationId = nextStationId	+ 1;
		  		} else {
		  		nextStationId = nextStationId	-1;	
		  		};
		    if (nextStationId == 19 ) {nextStationId = 18; window.direction = "e2s"; params["direction"] = "e2s";};
		    if (nextStationId == -1 ) {nextStationId = 0; window.direction = "s2e" ; params["direction"] = "s2e";};
		    nextStation = 	stations[nextStationId].id;
		  
		  } else { //current station <> ""
		  	setTimeout("updateStations()",stations[nextStationId].timeout_next);
		  	currentStation = "";
		  	params["currentStation"] = null;
		  	nextStation = 	stations[nextStationId].id;
		  	
		  } ;
		  
		    
		
		  updateStationsClass( currentStation, nextStation); 
		}
        console.log( "current Station:"+ currentStation + " next Station["+ nextStationId +"]"+nextStation );
         
     }
     catch(err) {
       console.log( err.message);
     }	

// end of function
	}
	document.addEventListener("DOMContentLoaded", function() {
       updateStations(); 
    });
        updateStations();
</script>
</div>
<div class="video" border="0" style="overflow:hidden; margin-top:15px; top:0%;  position:absolute">
<video height="550" width="95%" loop autoplay style="border:1px;">
  <source src="/assets/video.mp4" type="video/mp4">
  <!-- source src="movie.ogg" type="video/ogg" -->
  Your browser does not support the video tag.
</video>
</div>
<div class="weather" style=" z-index: -100; left:0%; margin-top:562px; width:15%; font-size:200%; overflow: hidden;">
<iframe title="weather" width="100%" src="/weathers/1"
 frameborder="0" noscrolling allowfullscreen style="overflow:hidden; height:80px;"></iframe>
</div>
<div class="rss"  style=" z-index: -100; left:15%; top:25px; width:69%; font-size:200%; overflow: hidden;">
<iframe title="RSS ticker" width="100%"   
      src="/banner"
      frameborder="0" noscrolling allowfullscreen style="overflow:hidden; height:60px;"></iframe>
</div>
<div class="clock" style=" z-index: -100; left:+10%; top:20px; width:25%; font-size:200%; overflow: hidden;">
<iframe 
   <%# if @online %>
   <%#   src="http://free.timeanddate.com/clock/i4m0lxc4/n676/tlmx4/fn2/fs32/ftb/tt0/tw0/tm1/tb4" %>
   <%# else %>
      src="/clock"
   <%# end %>
   style="overflow:hidden;" frameborder="0" width="332" height="92"></iframe>
</div>
<div id="radlogo">
<marquee behavior="scroll" direction="left">
<p><img src="/system/icons/icons/000/000/041/original/rad_logo.jpg?1429061899"  height="50" alt="RAD" /><img height="50" alt="Bynet Logo" src="/system/icons/icons/000/000/043/original/Bynet-English-logo.gif?1429115543" border="0"><img  height="50" alt="MEI LOGO" src="/system/icons/icons/000/000/044/original/logotipo-mei.jpg?1429116768" border="0"></p>
<p>Demo System Provided by MEI </p>
</marquee>
</div>